/* common.css */
* {
  margin: 0; padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul { list-style-type: none;}
html, body {
  height: 100%;
}
body {
  color: #666;
  /* font-family: 'Belleza', sans-serif; */
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.8;
  font-size: 100%;
}
h1, h2, h3, h4 {
  font-family: 'Belleza', sans-serif;
  margin-bottom: 20px;
}
.title { font-family: 'Belleza', sans-serif; }
h2 { font-size: 32px;}
ins{ text-decoration: none;}
button { 
  background: none;
  border: none;
  outline: none;
}
section {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#main_header {
  position: absolute;
  color: #fff;
  width: 100%;  

}
.osstem_logo{
  margin-top: 15px;
  width: 100px;
}
#title {
  height: 100%;
  background-image: url("../images/title3.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  margin-bottom: 50px;
  font-weight: bolder;
}

#title .cta{
  font-weight: normal;
}


#title .title {
  /* outline: 1px solid red; */
  position: absolute;
  width: 80%;
  left: 50%; top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
#title .title > h2 {
  /* color: #f26522; */
  font-size: 80px;
  margin-bottom: 0px;
}
#event .title > h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
#title .title > p,
#event .title > p {
  font-size: 18px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}
.cta {
  width: 140px; height: 50px;
  background: #222222;
  font-size: 16px;
  line-height: 50px;
  display: inline-block;
  border-radius: 4px;
}
.cta:hover {
  background: rgba(34,34,34, 0.9);
}
.bx-wrapper {
  border: none;
}

#brand .container{
  /* 소개글 좌우 여백을 두어 집중하게 배치 */
  padding-left: 10%;
  padding-right: 10%;

}

/* 이벤트 섹션 */
#event {
  position: relative;
  height: 400px;
  background: #ccc;
  background-image: url("../images/5.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 50px 0;
}
#event .title {
  width: 70%;
  /* outline: 1px solid red; */
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0,0,0, 0.7);
}

/* news 섹션 */
#news article {
  height: 300px;
  margin-bottom: 20px;
  color: #fff;
  display: flex; /* flex layout 설정 */
}
#news article {
  align-items: center; /* 수직 중앙정렬 */
  justify-content: center; /* 수평 중앙정렬 */
}
#news article h2{
  /* outline: 1px solid red; */
}
#news article:first-child {
  background-image: url("../images/seminar.jpg");
  background-size: cover;
  background-position: center;
}
#news article:last-child {
  background-image: url("../images/osstem_news.jpg");
  background-size: cover;
  background-position: center;
}

/* bxslider */
#sns .slider {
  width: 100%;
}
.slider img {
  /* width: 100%; */
}

